<div id="allergen-buttons" class="simple-border">
    <button>Dairy</button>
    <button>Soy</button>
    <button>Nut</button>
    <button>Celiac Disease</button>
    <button>Shellfish</button>
    <button>Vegetarian</button>
</div>