


<div class="container d-flex justify-content-center" id="allergen-buttons">
    <div class="row">
    <div class="col">
       <button id="dairy" class="btn btn-outline-secondary btn1 mt-4 mx-4">Dairy Free</button>
    </div>
    <div class="col">
       <button id="soy" class="btn btn-outline-secondary btn1 mt-4 mx-4">Soy Free</button>
    </div>
    <div class="col">
     <button id="nuts" class="btn btn-outline-secondary btn1 mt-4 mx-4">Nut Free</button>
    </div>
    <div class="col">
      <button id="celiac" class="btn btn-outline-secondary btn1 mt-4 mx-4">Celiac Disease</button>
    </div>
    <div class="col">
    <button id="shellfish" class="btn btn-outline-secondary btn1 mt-4 mx-4">Shellfish Free</button>
    </div>
     <div class="col">
         <button id="vegetarian" class="btn btn-outline-secondary btn1 mt-4 mx-4">Vegetarian</button>
    </div>
  </div>
</div>

<script src="/javascript/allergen-filter.js"></script>