<div class="container d-flex justify-content-center" id="allergen-buttons">
    <button id="dairy" class="btn btn-outline-secondary mt-4 mx-4">Dairy Free</button>
    <button id="soy" class="btn btn-outline-secondary mt-4 mx-4">Soy Free</button>
    <button id="nuts" class="btn btn-outline-secondary mt-4 mx-4">Nut Free</button>
    <button id="celiac" class="btn btn-outline-secondary mt-4 mx-4">Celiac Disease</button>
    <button id="shellfish" class="btn btn-outline-secondary mt-4 mx-4">Shellfish Free</button>
    <button id="vegetarian" class="btn btn-outline-secondary mt-4 mx-4">Vegetarian</button>
</div>

<script src="/javascript/allergen-filter.js"></script>