<div class="container d-flex justify-content-around p-5" id="allergen-buttons">
    <button class="btn btn-outline-secondary">Dairy</button>
    <button class="btn btn-outline-secondary">Soy</button>
    <button class="btn btn-outline-secondary">Nut</button>
    <button class="btn btn-outline-secondary">Celiac Disease</button>
    <button class="btn btn-outline-secondary">Shellfish</button>
    <button class="btn btn-outline-secondary">Vegetarian</button>
</div>