          <div>
              <h4>Is your recipe free of Milk products? <input type="checkbox">Yes</p><input type="checkbox">No</p></h4>
              <h5>Milk products may include but are not limited to the following:</h5>
              <p>Milk, Cheese, Cream or Yogurt? 
          </div>
          <div>
              <h4>Is your recipe free of Soy products? <input type="checkbox">Yes</p><input type="checkbox">No</p></h4>
              <h5>Soy products may include but are not limited to the following:</h5>
              <p>Edamame, Miso, Natto, Tofu or Soy based flour and milk? 
          </div>
          <div>
              <h4>Is your recipe free of Nut products? <input type="checkbox">Yes</p><input type="checkbox">No</p></h4>
              <h5>Nut products may include but are not limited to the following:</h5>
              <p>Peanuts, Almond, Brazil Nuts, Cashews, Hazelnuts, Pecans, Pistacios or Walnuts? 
          </div>
          <div>
              <h4>Does your recipe meet the Celiac guidelines? <input type="checkbox">Yes</p><input type="checkbox">No</p></h4>
              <h5>Your recipe can not contain any of the following:</h5>
              <p>Wheat, Rye, Barley or Triticale, Malt, Brewer's Yeast, Wheat starch 
          </div>
          <div>
              <h4>Is your recipe free of Shellfish products? <input type="checkbox">Yes</p><input type="checkbox">No</p></h4>
              <h5>Shellfish products are part of the Mullusks family which include but are not limited to the following:</h5>
              <p>Abalone, Clams, Cockle, Cuttlefish, Mussels, Octopus or Oysters? 
          </div>
          <div>
              <h4>Is your recipe Vegetarian friendly? <input type="checkbox">Yes</p><input type="checkbox">No</p></h4>
              <h5>Non Vegetarian products may include but are not limited to the following:</h5>
              <p>Meats: Beef, Chicken, Pork, Fish, etc. Fats: Lard, Gelatin, and Thai Curries? 
          </div>