


<div class="container d-flex justify-content-center" id="allergen-buttons">
    <div class="row">
          <div class="col-4 col-md-2">
      <button id="celiac" class=" color4 btn btn-outline-secondary btn1 mt-4 mx-4">Celiac Disease</button>
    </div>
    <div class="col-4 col-md-2">
       <button id="dairy" class="btn btn-outline-secondary btn1 mt-4 mx-4">Dairy <br> Free     </button>
    </div>
    <div class="col-4 col-md-2">
     <button id="nuts" class=" btn btn-outline-secondary btn1 mt-4 mx-4">Nut <br> Free</button>
    </div>
      <div class="col-3 col-md-2">
       <button id="soy" class=" btn btn-outline-secondary btn1 mt-4 mx-4">Soy <br> Free      </button>
    </div>
     <div class="col-4 col-md-2">
    <button id="shellfish" class=" btn btn-outline-secondary btn1 mt-4 mx-4">Shellfish Free</button>
    </div>
     <div class="col-4 col-md-2">
         <button id="vegetarian" class=" btn btn-outline-secondary btn1 mt-4 mx-4">Vegetarian <br> Safe</button>
    </div>
  </div>
</div>

<script src="/javascript/allergen-filter.js"></script>