<h2>What allergens does your recipe contain?</h2>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="dairy">
  <label class="form-check-label">This recipe contains <strong>Dairy</strong>. (Ex: milk, cheese, yogurt)</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="soy">
  <label class="form-check-label">This recipe contains <strong>Soy</strong>. (Ex: Edamame, Miso, Natto, Tofu)</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="nut">
  <label class="form-check-label">This recipe contains <strong>Nuts</strong>. (Ex: Peanuts, Almond, Brazil Nuts, Cashews, Hazelnuts, Pecans, Pistachios, Walnuts)</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="shellfish">
  <label class="form-check-label">This recipe contains <strong>Shellfish</strong>. (Ex: Shrimp, Abalone, Clams, Cockle, Cuttlefish, Mussels, Octopus, Oysters)</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="celiac">
  <label class="form-check-label">This recipe is <strong>Celiac-friendly</strong>. (Does NOT contain: Wheat, Rye, Barley or Triticale, Malt, Brewer's Yeast, Wheat starch)</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="vegetarian">
  <label class="form-check-label">This recipe is <strong>Vegetarian</strong>. (Does NOT contain: Meats: Beef, Chicken, Pork, Fish, etc. Fats: Lard, Gelatin)</label>
</div>