 <div class="box">
     <form>
         <label>
                Check if the recipe contains dairy. (Ex: milk, cheese, yogurt)</span>
              <input type="checkbox" name="dairy">
            </label>
            </div>
        <div>
         <label>
              Check if the recipe contains Soy. (Ex: Edamame, Miso, Natto, Tofu)
             <input type="checkbox" name="soy">
            </label>
            </div>
          <div>
              <label>
              Check if the recipe contains Nuts. (Ex: Peanuts, Almond, Brazil Nuts, Cashews, Hazelnuts, Pecans, Pistacios, Walnuts)
            <input type="checkbox" name="nuts">
            </label>
          </div>

          <div>
              <label>
              Does your recipe meet the Celiac guidelines? (Does not contain: Wheat, Rye, Barley or Triticale, Malt, Brewer's Yeast, Wheat starch)
            <input type="checkbox" name="celiac" onlicks="return false;">Yes</p><input type="checkbox">No</p>
            </label>
          </div>
          <div>
              <label>
              Check if the recipe contains shellfish. (Ex Abalone, Clams, Cockle, Cuttlefish, Mussels, Octopus, Oysters)
               <input type="checkbox" name="shellfish">
            </label>
          </div>
          <div>
              <label>
            Is your recipe Vegetarian friendly? (Ex: Meats: Beef, Chicken, Pork, Fish, etc. Fats: Lard, Gelatin)
            <input type="checkbox">Yes</p><input type="checkbox">No</p></h4>
          </label>
          </div>