<div class=" width1 recipe card">
  <div class="card-body d-flex flex-column color5">
    <div>
      <h5 class="card-text">Ingredients</h5>
      {{#each recipe.ingredients}}
        <div class="ingredient mx-3">{{this}}</div>
      {{/each}}
    </div>
  </div>
</div>

