<div class="recipe card mx-3">
  <div class="card-body">

    <div>
      <h5 class="card-text">Ingredients</h5>
      {{#each recipe.ingredients}}
        <div class="ingredient mx-3">{{this}}</div>
      {{/each}}
    </div>
  </div>
</div>