    <div>
      <label for="recipe-ingredients">Ingredients</label>
    </div>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" /><br>
  </div>
    <div>
      <label for="recipe-instructions">Instructions</label>
      </div>
        <input type="text" id="recipe-instructions" name="recipe-instructions" /><br>
        <input type="text" id="recipe-instructions" name="recipe-instructions" /><br>
        <input type="text" id="recipe-instructions" name="recipe-instructions" /><br>
        <input type="text" id="recipe-instructions" name="recipe-instructions" /><br>
        <input type="text" id="recipe-instructions" name="recipe-instructions" /><br>
        <input type="text" id="recipe-instructions" name="recipe-instructions" /><br>
  </div>
