<div class="form-group card simple-border">
  <label for="recipe-ingredients">Ingredients</label>
  <input type="text" class="form-control form-control-sm recipe-ingredients" name="recipe-ingredients" /><br>
  <input type="text" class="form-control form-control-sm recipe-ingredients" name="recipe-ingredients" /><br>
  <input type="text" class="form-control form-control-sm recipe-ingredients" name="recipe-ingredients" /><br>
  <input type="text" class="form-control form-control-sm recipe-ingredients" name="recipe-ingredients" /><br>
  <input type="text" class="form-control form-control-sm recipe-ingredients" name="recipe-ingredients" /><br>
  <input type="text" class="form-control form-control-sm recipe-ingredients" name="recipe-ingredients" /><br>
</div>

<div class="card simple-border">
  <label for="recipe-instructions">Instructions</label>
  <input type="text" class="form-control form-control-sm recipe-instructions" name="recipe-instructions" /><br>
  <input type="text" class="form-control form-control-sm recipe-instructions" name="recipe-instructions" /><br>
  <input type="text" class="form-control form-control-sm recipe-instructions" name="recipe-instructions" /><br>
  <input type="text" class="form-control form-control-sm recipe-instructions" name="recipe-instructions" /><br>
</div>