<div class="recipe card">
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <p class="card-text">{{ description }}</p>
        {{#each icons }}
        <img class="allergen-icon" src="/icons/{{ this }}.png" alt="{{ this }}">
        {{/each}}
    </div>

</div>