<section class="container">
    <h2>Add a new recipe</h2>


<form class="addRecipeForm">
      <div class="card simple-border">
          <label for="recipe-name">Name</label>
          <input type="text" id="recipe-name" />
      </div>
        <div class="card simple-border">
            <label for="recipe-description">Description</label>
            <input type="text" id="recipe-description" />
        </div>
          <div class="card simple-border">
            <label for="recipe-ingredients">Ingredients (list with commas)</label>
            <input type="text" id="recipe-ingredients"/>
        </div>
          <div class="card simple-border">
            <label for="recipe-instructions">Instructions</label>
            <input type="text" id="recipe-instructions" />
        </div>
        <div>
          <h2>What type of allergens are your recipe free of?</h2>
{{>allergy-chart}}
      </div>

            <button type="submit" class="btn block my-2">Submit</button>
</form>
</section>

<script src="/javascript/add-recipe.js"></script>