<section>
    <h2>Add a new recipe</h2>

{{#if loggedIn}}
<form class="add-recipe-form">
  <div>
    <label for="recipe-title">Title</label>
    <input type="text" id="recipe-title" name="recipe-title" />
    </div>
  <div>
      <label for="recipe-description">Description</label>
      <input type="text" id="recipe-description" name="recipe-description" />
  </div>
    <div>
      <label for="recipe-ingredients">Ingredients</label>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" />
  </div>
    <div>
      <label for="recipe-instructions">Instructions</label>
      <input type="text" id="recipe-instructions" name="recipe-instructions" />
  </div>
      <button type="submit">Submit</button>
  </div>
</form>
</section>
<script src="/javascript/add-recipe.js"></script>
{{else}}
<div>
  <p>
    Oops! Looks like you need to create a user profile still. Click the Sign Up button above to get access to your very own kitchen.
  </p>
</div>
{{/if}}
