{{> allergens }}
<div class="container mt-5">
    <h1 class="text-center">Pick a Recipe Below or Filter by Allergen Above</h1>
    
    <div id="top-recipes" class="d-flex flex-wrap justify-content-center mt-4">
        {{#each recipes as |recipe|}}
            {{>recipe-description loggedIn=../loggedIn}}
        {{/each}}
    </div>
</div>
