{{!-- Login form --}}
<form class="login-form container w-25 my-5">
  <div class="card simple-border">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div class="card simple-border">
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn block my-2">Login</button>
  </div>
  <div class="link-dark">
    <a href="/signUp">Click Here</a> to create a new account.
  </div>
</form>

<script src="/javascript/login.js"></script>