<br>
<br>
<article class="marg container">
    <div >
        <div class="recipe card color1 width1">
                    <div class="card-body d-flex text-center flex-column color1">
                            <h3> {{recipe.name}} </h3>
                    </div>
                </div>
        <div id="description">
            <p>
                {{>single-recipe-description recipe}}
            </p>
            
            <div id="ingredients">
                {{>ingredients}}
            </div>
            <br>
        </div>
        </div>
        <br>
        <div class="col text-center">
            <div>
                 <div class="width1 recipe card color6">
                    <div class="card-body d-flex flex-column color1">
                          <h5 >Instructions</h5>
                    </div>
                </div>
             
                {{#each recipe.instructions}}
                <br>
                <div class="width1 recipe card">
                    <div class="card-body d-flex flex-column color5">
                        <div class="py-30">{{this}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
       


</article>