<article class="container recipe-article">
    <div class="row">
        <h3 class="text-center">
            {{recipe.name}}
        </h3>
    </div>
    <div class="row">
        <div id="description" class="col">
            <p>
                {{>single-recipe-description recipe}}
            </p>
            <div id="ingredients">
                {{>ingredients}}
            </div>
        </div>
        <div class="col">
            <div>
                {{#each recipe.instructions}}
                <div class="recipe card m-3">
                    <div class="card-body d-flex flex-column">
                        <div class="py-30">{{this}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</article>