<article class="container recipe-article">
    <div class="row">
        <h3 class="text-center">
            {{recipe.name}}
        </h3>
    </div>
    <div class="row">
        <div id="description" class="col">
            <p>
                {{>single-recipe-description}}
            </p>
            <div id="ingredients">
                {{>ingredients}}
            </div>
        </div>
        <div class="col d-flex">
            <div class="flex-wrap">
                {{recipe.instructions}}
            </div>
        </div>
    </div>
</article>