{{!-- signup form --}}
<form class="signup-form container w-25 my-5">
  <div class="card simple-border">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
   <div class="card simple-border">
    <label for="firstName-signup">First Name:</label>
    <input type="text" id="firstName-signup" />
  </div>
   <div class="card simple-border">
    <label for="lastName-signup">Last Name:</label>
    <input type="text" id="lastName-signup" />
  </div>
  <div class="card simple-border">
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="card simple-border">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <br>
  <div class="card simple-border width">
    <button class="color5" type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/signUp.js"></script>