{{!-- signup form --}}
<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
   <div>
    <label for="firstName-signup">First Name:</label>
    <input type="text" id="firstName-signup" />
  </div>
   <div>
    <label for="lastName-signup">Last Name:</label>
    <input type="text" id="lastName-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/signUp.js"></script>